<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href='/' class='changepart'> Brain Part List </a>
    <h1><%= title %></h1>
    
    <p><%= part.name %> </p>
      
      <P> It means <%= part.meaning%>.</P>
      <p> Functionality:</p>
    <!--<ul>
     <% for(var i=0; i<part.functionalities.length; i++) {%>
       <li>
         <span id="color"><%= part.functionalities[i] %></span>
       </li>
     <% } %>
    </ul>-->
      <ul> 
  
          <% part.functionalities.forEach(function(functionality){ %>
          <li>
          <span><%= functionality.functionality %></span>
          </li>
          <% }); %>
</ul>
      <br><br>
      <a href='/deletepart/<%= brainpart._id %>' class="changepart"> Delete this part. </a>
      <a href='/updatemeaning/<%= brainpart._id %>' class="changepart"> Update meaning. </a>
      <!--<a href='/updatefunctionalities/<%= brainpart._id %>' class="changepart"> Update functionalities </a>-->
  </body>
</html>